{
  "info": {
    "title": "Genji Shimada API",
    "version": "0.0.1",
    "description": "REST API for Genji Shimada project."
  },
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.genji.pk",
      "description": "Default server"
    }
  ],
  "paths": {
    "/healthcheck": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "HealthCheck",
        "operationId": "HealthcheckHealthCheck",
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/users/{user_id}/creator": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Check If User Is Creator",
        "description": "Check if user is a creator.",
        "operationId": "ApiV3UsersUserIdCreatorCheckIfUserIsCreator",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/users/{user_id}/exists": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Check User Exists",
        "description": "Return a boolean indicating whether a user with the given ID exists.",
        "operationId": "ApiV3UsersUserIdExistsCheckUserExists",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/users/fake": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create fake member",
        "description": "Create a placeholder user with an auto-generated ID and return the new user ID.",
        "operationId": "ApiV3UsersFakeCreateFakeMember",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List Users",
        "description": "Fetch all users with their basic fields and aggregated Overwatch usernames.",
        "operationId": "ApiV3UsersGetUsers",
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/UserResponse"
                      },
                      "type": "array"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create User",
        "description": "Create a new user with the provided ID, nickname, and global name. If the user already exists, this is a no-op. Duplicate primary keys are reported with a 400.",
        "operationId": "ApiV3UsersCreateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/users/{user_id}/overwatch": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Overwatch Usernames",
        "description": "Retrieve Overwatch usernames for a user. Responds with 404 if the user does not exist. Includes `username` and `is_primary` fields.",
        "operationId": "ApiV3UsersUserIdOverwatchGetOverwatchUsernames",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverwatchUsernamesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Replace Overwatch Usernames",
        "description": "Replace the Overwatch usernames for a user. This clears all existing entries and inserts the provided list. Use `is_primary` on exactly one entry to mark it as primary.",
        "operationId": "ApiV3UsersUserIdOverwatchUpdateOverwatchUsernames",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OverwatchUsernamesUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/users/{user_id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User",
        "description": "Fetch a single user by ID. Returns nickname, global name, coins, aggregated Overwatch usernames, and a `coalesced_name` preferring primary OW username, then nickname, then global name.",
        "operationId": "ApiV3UsersUserIdGetUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/UserResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update User Names",
        "description": "Update the global name and nickname for a user.",
        "operationId": "ApiV3UsersUserIdUpdateUserNames",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/users/{user_id}/rank": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Rank Details",
        "description": "Compute per-difficulty completion counts and medal thresholds for the given user. Uses verified, latest-per-user runs and Global maps only.",
        "operationId": "ApiV3UsersUserIdRankGetUserRankData",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RankDetailResponse"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/users/fake/{fake_user_id}/link/{real_user_id}": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Link fake member to real user",
        "description": "Reassign references from the fake user to the real user and delete the fake user row.",
        "operationId": "ApiV3UsersFakeFakeUserIdLinkRealUserIdLinkFakeMemberIdToRealUserId",
        "parameters": [
          {
            "name": "fake_user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "real_user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/playtests/{thread_id}/approve": {
      "post": {
        "tags": [
          "Playtest"
        ],
        "summary": "Approve Playtest",
        "description": "Approve a playtest, marking it as verified and setting its difficulty rating.",
        "operationId": "ApiV3MapsPlaytestsThreadIdApproveApprovePlaytestEndpoint",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaytestApproveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request accepted, processing continues off-line",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/playtests/{thread_id}/vote/{user_id}": {
      "post": {
        "tags": [
          "Playtest"
        ],
        "summary": "Cast Playtest Vote",
        "description": "Submit a vote for a specific playtest thread on behalf of a user.",
        "operationId": "ApiV3MapsPlaytestsThreadIdVoteUserIdCastVoteEndpoint",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaytestVote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request accepted, processing continues off-line",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Playtest"
        ],
        "summary": "Delete Playtest Vote",
        "description": "Remove an individual user's vote for a specific playtest thread.",
        "operationId": "ApiV3MapsPlaytestsThreadIdVoteUserIdDeleteVoteEndpoint",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted, processing continues off-line",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/playtests/{thread_id}/vote": {
      "delete": {
        "tags": [
          "Playtest"
        ],
        "summary": "Delete All Playtest Votes",
        "description": "Remove all votes associated with a specific playtest thread.",
        "operationId": "ApiV3MapsPlaytestsThreadIdVoteDeleteAllVotesEndpoint",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/playtests/{thread_id}": {
      "get": {
        "tags": [
          "Playtest"
        ],
        "summary": "Get Playtest Data",
        "description": "Retrieve the full playtest metadata and related details for a specific thread.",
        "operationId": "ApiV3MapsPlaytestsThreadIdGetPlaytestEndpoint",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaytestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/playtests/{thread_id}/force_accept": {
      "post": {
        "tags": [
          "Playtest"
        ],
        "summary": "Force Accept Playtest",
        "description": "Forcefully accept a playtest regardless of votes, assigning difficulty and verifier.",
        "operationId": "ApiV3MapsPlaytestsThreadIdForceAcceptForceAcceptPlaytestEndpoint",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaytestForceAcceptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request accepted, processing continues off-line",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/playtests/{thread_id}/force_deny": {
      "post": {
        "tags": [
          "Playtest"
        ],
        "summary": "Force Deny Playtest",
        "description": "Forcefully deny a playtest regardless of votes, recording the reason for rejection.",
        "operationId": "ApiV3MapsPlaytestsThreadIdForceDenyForceDenyPlaytestEndpoint",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaytestForceDenyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request accepted, processing continues off-line",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/playtests/{thread_id}/votes": {
      "get": {
        "tags": [
          "Playtest"
        ],
        "summary": "Get Playtest Votes",
        "description": "Retrieve all votes currently associated with a specific playtest thread.",
        "operationId": "ApiV3MapsPlaytestsThreadIdVotesGetVotesEndpoint",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaytestVotesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/playtests/{thread_id}/reset": {
      "post": {
        "tags": [
          "Playtest"
        ],
        "summary": "Reset Playtest",
        "description": "Reset a playtest to its initial state, optionally removing votes and completions.",
        "operationId": "ApiV3MapsPlaytestsThreadIdResetResetPlaytestEndpoint",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaytestResetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request accepted, processing continues off-line",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/{code}/exists": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Check Code Exists",
        "operationId": "ApiV3MapsCodeExistsCheckCodeExistsEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/{code}/legacy": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "Convert to Legacy",
        "operationId": "ApiV3MapsCodeLegacyConvertToLegacyEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "reason",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            },
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/{code}/guides": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get Guides",
        "operationId": "ApiV3MapsCodeGuidesGetGuidesEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "include_records",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/GuideFullResponse"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "Create Guide",
        "operationId": "ApiV3MapsCodeGuidesCreateGuideEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuideResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuideResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Search Maps",
        "description": "Search and filter maps with comprehensive filtering options.",
        "operationId": "ApiV3MapsGetMapsEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by map code"
            },
            "description": "Filter by map code",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "playtest_status",
            "in": "query",
            "schema": {
              "type": [
                "null",
                "string"
              ],
              "enum": [
                "Approved",
                "In Progress",
                "Rejected",
                null
              ],
              "description": "Filter by playtest status"
            },
            "description": "Filter by playtest status",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by archived status"
            },
            "description": "Filter by archived status",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "hidden",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by hidden status"
            },
            "description": "Filter by hidden status",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "official",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by official status"
            },
            "description": "Filter by official status",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "playtest_thread_id",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by playtest thread ID"
            },
            "description": "Filter by playtest thread ID",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "Classic",
                      "Increasing Difficulty",
                      "Other"
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by category list"
            },
            "description": "Filter by category list",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "map_name",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "Circuit Royal",
                      "Runasapi",
                      "Practice Range",
                      "Route 66",
                      "Midtown",
                      "Junkertown",
                      "Colosseo",
                      "Lijiang Tower (Lunar New Year)",
                      "Dorado",
                      "Throne of Anubis",
                      "Castillo",
                      "Blizzard World (Winter)",
                      "Hollywood (Halloween)",
                      "King's Row",
                      "Black Forest (Winter)",
                      "Petra",
                      "Framework",
                      "Eichenwalde",
                      "Workshop Island",
                      "Chateau Guillard (Halloween)",
                      "New Junk City",
                      "Necropolis",
                      "Kanezaka",
                      "Havana",
                      "Oasis",
                      "Ayutthaya",
                      "Volskaya Industries",
                      "Hanamura",
                      "Workshop Expanse",
                      "Hanaoka",
                      "Lijiang Tower",
                      "Busan (Lunar New Year)",
                      "Suravasa",
                      "King's Row (Winter)",
                      "Ecopoint: Antarctica",
                      "Hanamura (Winter)",
                      "Blizzard World",
                      "Chateau Guillard",
                      "Paraiso",
                      "Workshop Green Screen",
                      "Watchpoint: Gibraltar",
                      "Shambali",
                      "Eichenwalde (Halloween)",
                      "Tools",
                      "Nepal",
                      "Samoa",
                      "Horizon Lunar Colony",
                      "Paris",
                      "Esperanca",
                      "Black Forest",
                      "Antarctic Peninsula",
                      "Workshop Chamber",
                      "Hollywood",
                      "New Queen Street",
                      "Rialto",
                      "Busan",
                      "Malevento",
                      "Temple of Anubis",
                      "Ilios",
                      "Ecopoint: Antarctica (Winter)",
                      "Numbani",
                      "Adlersbrunn",
                      "Aatlis",
                      "Arena Victoriae",
                      "Redwood Dam",
                      "Thames District",
                      "Gogadoro",
                      "Powder Keg Mine",
                      "Place Lacroix"
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by map name list"
            },
            "description": "Filter by map name list",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "difficulty_exact",
            "in": "query",
            "schema": {
              "type": [
                "null",
                "string"
              ],
              "enum": [
                "Easy",
                "Medium",
                "Hard",
                "Very Hard",
                "Extreme",
                "Hell",
                null
              ],
              "description": "Filter by exact difficulty tier"
            },
            "description": "Filter by exact difficulty tier",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "difficulty_range_min",
            "in": "query",
            "schema": {
              "type": [
                "null",
                "string"
              ],
              "enum": [
                "Easy",
                "Medium",
                "Hard",
                "Very Hard",
                "Extreme",
                "Hell",
                null
              ],
              "description": "Filter by minimum difficulty"
            },
            "description": "Filter by minimum difficulty",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "difficulty_range_max",
            "in": "query",
            "schema": {
              "type": [
                "null",
                "string"
              ],
              "enum": [
                "Easy",
                "Medium",
                "Hard",
                "Very Hard",
                "Extreme",
                "Hell",
                null
              ],
              "description": "Filter by maximum difficulty"
            },
            "description": "Filter by maximum difficulty",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "mechanics",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "Edge Climb",
                      "Bhop",
                      "Save Climb",
                      "High Edge",
                      "Distance Edge",
                      "Quick Climb",
                      "Slide",
                      "Stall",
                      "Dash",
                      "Ultimate",
                      "Emote Save Bhop",
                      "Death Bhop",
                      "Triple Jump",
                      "Multi Climb",
                      "Vertical Multi Climb",
                      "Standing Create Bhop",
                      "Crouch Edge",
                      "Bhop First",
                      "Create Bhop",
                      "Save Double"
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by mechanics (AND semantics)"
            },
            "description": "Filter by mechanics (AND semantics)",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "restrictions",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "Wall Climb",
                      "Create Bhop",
                      "Dash Start",
                      "Death Bhop",
                      "Triple Jump",
                      "Multi Climb",
                      "Standing Create Bhop",
                      "Emote Save Bhop",
                      "Double Jump",
                      "Bhop"
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by restrictions (AND semantics)"
            },
            "description": "Filter by restrictions (AND semantics)",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "Other Heroes",
                      "XP Based",
                      "Custom Grav/Speed",
                      "Aim Parkour"
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by tags (AND semantics)"
            },
            "description": "Filter by tags (AND semantics)",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "creator_ids",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "items": {
                    "type": "integer"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by creator user IDs"
            },
            "description": "Filter by creator user IDs",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "creator_names",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by creator names"
            },
            "description": "Filter by creator names",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User ID for completion/medal filtering"
            },
            "description": "User ID for completion/medal filtering",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "medal_filter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "All",
                "With",
                "Without"
              ],
              "description": "Medal filter (All/With/Without)",
              "default": "All"
            },
            "description": "Medal filter (All/With/Without)",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "completion_filter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "All",
                "With",
                "Without"
              ],
              "description": "Completion filter (All/With/Without)",
              "default": "All"
            },
            "description": "Completion filter (All/With/Without)",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "playtest_filter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "All",
                "Only",
                "None"
              ],
              "description": "Playtest filter (All/Only/None)",
              "default": "All"
            },
            "description": "Playtest filter (All/Only/None)",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "minimum_quality",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum average quality rating"
            },
            "description": "Minimum average quality rating",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Results per page",
              "default": 10
            },
            "description": "Results per page",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page_number",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Page number (1-indexed)",
              "default": 1
            },
            "description": "Page number (1-indexed)",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "items": {
                    "type": "string",
                    "enum": [
                      "difficulty:asc",
                      "difficulty:desc",
                      "checkpoints:asc",
                      "checkpoints:desc",
                      "ratings:asc",
                      "ratings:desc",
                      "map_name:asc",
                      "map_name:desc",
                      "title:asc",
                      "title:desc",
                      "code:asc",
                      "code:desc"
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ],
              "description": "List of 'field:direction' sort keys"
            },
            "description": "List of 'field:direction' sort keys",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "finalized_playtests",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter finalized playtests"
            },
            "description": "Filter finalized playtests",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "return_all",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "Return all results without pagination",
              "default": false
            },
            "description": "Return all results without pagination",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "force_filters",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "Force filters even with code param",
              "default": false
            },
            "description": "Force filters even with code param",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MapResponse"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "Create Map",
        "operationId": "ApiV3MapsCreateMapEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapCreationJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/{code}/guides/{user_id}": {
      "delete": {
        "tags": [
          "Maps"
        ],
        "summary": "Delete Guide",
        "operationId": "ApiV3MapsCodeGuidesUserIdDeleteGuideEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Maps"
        ],
        "summary": "Update Guide",
        "operationId": "ApiV3MapsCodeGuidesUserIdUpdateGuideEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuideResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/{code}/affected": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get Affected Users",
        "operationId": "ApiV3MapsCodeAffectedGetAffectedUsersEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "integer"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/{code}/plot": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get Map Plot Data",
        "operationId": "ApiV3MapsCodePlotGetMapPlotEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Stream Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/mastery": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get Mastery Data",
        "operationId": "ApiV3MapsMasteryGetMasteryEndpoint",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "map_name",
            "in": "query",
            "schema": {
              "type": [
                "null",
                "string"
              ],
              "enum": [
                "Circuit Royal",
                "Runasapi",
                "Practice Range",
                "Route 66",
                "Midtown",
                "Junkertown",
                "Colosseo",
                "Lijiang Tower (Lunar New Year)",
                "Dorado",
                "Throne of Anubis",
                "Castillo",
                "Blizzard World (Winter)",
                "Hollywood (Halloween)",
                "King's Row",
                "Black Forest (Winter)",
                "Petra",
                "Framework",
                "Eichenwalde",
                "Workshop Island",
                "Chateau Guillard (Halloween)",
                "New Junk City",
                "Necropolis",
                "Kanezaka",
                "Havana",
                "Oasis",
                "Ayutthaya",
                "Volskaya Industries",
                "Hanamura",
                "Workshop Expanse",
                "Hanaoka",
                "Lijiang Tower",
                "Busan (Lunar New Year)",
                "Suravasa",
                "King's Row (Winter)",
                "Ecopoint: Antarctica",
                "Hanamura (Winter)",
                "Blizzard World",
                "Chateau Guillard",
                "Paraiso",
                "Workshop Green Screen",
                "Watchpoint: Gibraltar",
                "Shambali",
                "Eichenwalde (Halloween)",
                "Tools",
                "Nepal",
                "Samoa",
                "Horizon Lunar Colony",
                "Paris",
                "Esperanca",
                "Black Forest",
                "Antarctic Peninsula",
                "Workshop Chamber",
                "Hollywood",
                "New Queen Street",
                "Rialto",
                "Busan",
                "Malevento",
                "Temple of Anubis",
                "Ilios",
                "Ecopoint: Antarctica (Winter)",
                "Numbani",
                "Adlersbrunn",
                "Aatlis",
                "Arena Victoriae",
                "Redwood Dam",
                "Thames District",
                "Gogadoro",
                "Powder Keg Mine",
                "Place Lacroix",
                null
              ]
            },
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MapMasteryResponse"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "Update Mastery",
        "operationId": "ApiV3MapsMasteryUpdateMasteryEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapMasteryCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MapMasteryCreateResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/{code}/partial": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get Partial Map",
        "operationId": "ApiV3MapsCodePartialGetPartialMapEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapPartialResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/trending": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get Trending Maps",
        "operationId": "ApiV3MapsTrendingGetTrendingMapsEndpoint",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                3,
                5,
                10,
                15,
                20,
                25
              ],
              "default": 10
            },
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TrendingMapResponse"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/maps/link-codes": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "Link Map Codes",
        "operationId": "ApiV3MapsLinkCodesLinkMapCodesEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkMapsCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JobStatusResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
[...]
